/* ==========================================================================
  Reset 
  ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
  General 
  ========================================================================== */

/* Font */
body {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Variables */
* {
  --primary-colour: #262626;
  --light-primary-colour: #52525b;
  --dark-primary-colour: #18181b;
  --accent-colour-one: #0891b2;
  --accent-colour-two: #b22908;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--primary-colour);
}

/* ==========================================================================
  Middle Section Misc 
  ========================================================================== */

.player-name-display:not(:focus-visible) {
  cursor: pointer;
}

.first-player-name-display:not(:focus-visible)::before {
  content: url(assets/pencil-outline.svg);
}

.second-player-name-display:not(:focus-visible)::after {
  content: url(assets/pencil-outline.svg);
}

.player-name-display:focus-visible {
  width: 20ch;
}

.player-name-display {
  padding: 0.2em 0.5em;
}

/* Child editing class is to pass information on input back to user */
.name-display-container.child-editing::after {
  content: "Click off to cancel, press enter to save";
  font-size: 0.8em;
  position: absolute;
  margin-top: 0.1em;
}

.name-display-container.child-editing.child-name-too-long::after {
  content: "Max. 12 characters";
  font-size: 0.8em;
  position: absolute;
  margin-top: 0.1em;
  color: red;
}

.name-display-container.child-editing.child-name-too-long .player-name-display {
  outline-color: red;  
}

.start-game-button {
  font-size: 1.5em;
  padding: 0.2em 1.2em;
  background-color: var(--dark-primary-colour);
  color: white;
  border: 2px solid var(--light-primary-colour);
  border-radius: 5px;
}

.start-game-button:hover {
  background-color: var(--light-primary-colour);
  color: var(--dark-primary-colour);
  border-color: var(--dark-primary-colour);
}

/* ==========================================================================
  Game Board 
  ========================================================================== */

.middle-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  place-items: center;
}

.game-board-container {
  display: grid;
  place-items: center;
}

.game-board {
  height: 40rem;
  width: 40rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-board-squares {
  border: 1px solid;
  font-size: 6em;
  display: grid;
  place-items: center;
}

/* ==========================================================================
  Scoreboard 
  ========================================================================== */

.score-container {
  display: grid;
  grid-template-columns: 1fr 4em 1fr;
  grid-template-rows: 1.5fr 1frd;
  align-items: center;
  gap: 1em;
}

.game-score-display {
  text-align: center;
}

.score-container h3 {
  font-size: 1.5rem;
}

.score-container h2 {
  font-size: 2rem;
}

.score-container .first-player-name-display {
  text-align: right;
  color: var(--accent-colour-one);
}

.score-container .second-player-name-display {
  text-align: left;
  color: var(--accent-colour-two);
}

.score-container .player-name-display {}

.game-draw-display {
  grid-area: 2 / 1 / 3 / 4;
  text-align: center;
}